@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-2">Welcome</h1>
    <h4 class="mb-4">DHF File Section Descriptions</h4>
    <table class="table table-bordered table-striped mt-2 align-middle" style="width:100%">
        <tr>
            <th>Section No.</th>
            <th>Description</th>
            <th>Example Content</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Change Proposals </td>
            <td class="text-start">New Product Change Request document (e.g. DP, CR, NPI etc.)</td>
        </tr>
        <tr>
            <td>2</td>
            <td>User Requirement Documents</td>
            <td class="text-start">URDs, UNDs</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Design Reviews</td>
            <td class="text-start">Design and Phase Review as well as Design Transfer documents and minutes</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Desgn Plan</td>
            <td class="text-start">Design and Development Plan (DDP)</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Design Inputs</td>
            <td class="text-start">PRD, SRS, HRS, Traceability Matrix, Compliance Report (EUMDR), Algorithm Spec, S/W specification, S/W Design Specification, DIOV, DIOTV</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Design Outputs</td>
            <td class="text-start">SDS, SCMMP, Speech Prompts, S/W Source Code, Executable Code, System Specs, Membranes, BoMs, Artwork, Gerbers, Component Specs and Drawings</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Design Verification</td>
            <td class="text-start">S/W and Component Verification plans, protocols and reports</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Design Validation</td>
            <td class="text-start">Product level validation plans, protocols and reports, Usability Protocols and Reports </td>
        </tr>
        <tr>
            <td>9</td>
            <td>Design Transfer</td>
            <td class="text-start">Manufacturing documents: GRN master lists, GIWI, Kitting, Process Flows, Assembly WI, Final Visual Inspection Docs, Labelling and Packaging, User Manuals, User Guides, Hangtag, Production Test, Sales BoMs, Despatch, Declaration of conformity, Warranty statements, Etc.</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Design Change Documents</td>
            <td class="text-start">CDPs, CRs – changes post design transfer, CMRs, ECR, DCC</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Risk Management</td>
            <td class="text-start">Preliminary Hazard Analysis, Risk Management Plan, Risk and Hazard Analysis, Risk Assessments, FMEA – DFMEA / PFMEA</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Regulatory – Regulatory Plan, submissions and labelling</td>
            <td class="text-start">CB and UL Test certificate and reports, NTF, Notice of completion and authorisation</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Contractor/Consultant Information</td>
            <td class="text-start">Any related information</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Technical Description of Device</td>
            <td class="text-start">Technical descriptions</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Lesson Learned Review</td>
            <td class="text-start">Lessons Learned Reviews</td>
        </tr>
    </table>
</div>
